
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-s);
    line-height: var(--line-height-text);
}

/* eerste header */
.main-nav {
    background-color: var(--primary-color);
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-s);
}

.main-nav a:hover {
    color: var(--primary-lighter-color);
    text-decoration: underline;
}

.nav-links {
    display: flex;
    margin-left: 15px;
}

.nav-rechts {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.zoekicon:hover {
    scale: 1.2;
}

.nl-vlag:hover {
    scale: 1.2;
}

.uk-vlag:hover {
    scale: 1.2;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

/* tweede header */
.ham-menu {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    z-index: 1000;
}

.logo img {
    width: 200px;

        @media (min-width: 1149px) {
                width: 270px;

    }
}


/* hamburger menu van yt filmpje */
.burger-menu {
    display: flex;
    align-items: center;
    gap: 35px;

    @media (max-width: 1149px) {
        position:absolute;
        top: 120px;
        left: 0;
        background: #ffffff;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0px;
        display: none;
        z-index: 999;
    }
}

.burger-menu a {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-m);
    transition: 03.s;
    color: #000000;
}


.burger-menu a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.burger-menu a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 0;
    background: var(--accent-color);
    transition: width 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 25px 10px 10px 10px;
    display: none;
    z-index: 999;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 10px 20px;
    color: #000000;
    font-size: 0.95rem;
}

.dropdown-menu a:hover {
    color: var(--accent-color);
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(-10p);
    }
    to {
        opacity: 1;
        transform: translateY(0p);    
    }
}

.menu-toggle {
    display: none;
}

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    z-index: 1000;
    cursor: pointer;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    transition: 0.4s;
}


.menu-toggle:checked ~ .burger-menu {
    display: flex;
    top: 12%;


            @media (min-width: 810px) {
            top: 10%
    }
}

.menu-btn {
    display: flex;

            @media (min-width: 1149px) {
            display: none;
    }
}

.menu-toggle:checked + .menu-btn
span:nth-child(1) {
    transform: rotate(45deg)
    translateY(7px);
}

.menu-toggle:checked + .menu-btn
span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-btn
span:nth-child(3) {
    transform: rotate(-45deg)
    translateY(-7px);
}

/* header foto */
.banner {
  position: relative;
  width: 100%;;

}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(40%); 

      @media (min-width: 810px) {
        font-size: 45px;
        height: auto;
        max-height: 430px;
        object-fit: cover;
    }
}

.overlay {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* contact ons */
h1 {
    font-size: var(--font-size-heading-xs);
    padding: 1rem 0rem 1rem 3rem; /* top right bottom left */

        @media (min-width: 810px) {
         margin-left: 2rem;
    }

    @media (min-width: 1300px) {
        margin-left: 19rem;
        font-size: var(--font-size-heading-s);
    }
}

/* alle formulier labels*/
.label-ad {
    padding: 0rem 3rem 1.8rem 3rem; /* top right bottom left */

        @media (min-width: 1300px) {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

.formulier {

    @media (min-width: 810px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    @media (min-width: 1300px) {
       font-size: var(--font-size-m);
    }
}

/* .label-ad {
    width: 50%;
} */
.voornaam {
    grid-column: 1/2;
    grid-row: 1/3;
}

.achternaam {
    grid-column: 2/4;
    grid-row: 1/3;
}

.e-mail {
    grid-column: 1/2;
    grid-row: 2/3;
}

.telefoonnummer {
    grid-column: 2/-1;
    grid-row: 3/2;
}

.beschrijving {
    grid-column: 1/-1;
    grid-row: 3/-1;
}



/* verzend button */
.Submit-ad {
    margin-left: 3rem;

    @media (min-width: 810px) {
        margin-left: 5rem;
        margin-top: 0.5rem;
    }  

        @media (min-width: 1300px) {
        margin-left: 22rem;
    }
}

/* footer */
.info-footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 400px;
    margin-top: 30px;
}

.info-footer img {
   margin-top: 20px;
   margin-left: 45px;
   padding-top: 10px;
}

.info-footer h3 {
    font-size: var(--font-size-s);
    margin-left: 50px;
}

.info-footer ul li {
    font-size: var(--font-size-xs);
    margin-left: 10px;
    list-style: none;
    margin-bottom: 6.5px;
}

.info-footer a {
    color: var(--white-color);
    text-decoration: none;
}

.info-footer a:hover {
    color: var(--primary-lighter-color);
    text-decoration: underline;
}

.link-mail {
    color:var(--white-color);
    font-size: var(--font-size-xs);
    margin-left: 50px;
    text-decoration: none;
}

.link-mail:hover {
    color: var(--primary-lighter-color);
    font-size: var(--font-size-xs);
    margin-left: 50px;
    text-decoration: underline;
}