
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-s);
    line-height: var(--line-height-text);
}



.main-nav {
    background-color: var(--primary-color);
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.main-nav a {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-s);
}

.main-nav a:hover {
    color: var(--primary-lighter-color);
    text-decoration: underline;
}

.nav-links {
    display: flex;
    margin-left: 15px;
}


.nav-rechts {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.zoekicon:hover {
    scale: 1.2;
}

.nl-vlag:hover {
    scale: 1.2;
}

.uk-vlag:hover {
    scale: 1.2;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}


.ham-menu {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    z-index: 1000;
}

.logo img {
    width: 200px;

        @media (min-width: 1149px) {
                width: 270px;

    }
}

.burger-menu {
    display: flex;
    align-items: center;
    gap: 35px;

    @media (max-width: 1149px) {
        position:absolute;
        top: 120px;
        left: 0;
        background: #ffffff;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0px;
        display: none;
        z-index: 999;
    }
}

.burger-menu a {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-m);
    transition: 03.s;
    color: #000000;
}


.burger-menu a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.burger-menu a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 0;
    background: var(--accent-color);
    transition: width 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 25px 10px 10px 10px;
    display: none;
    z-index: 999;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 10px 20px;
    color: #000000;
    font-size: 0.95rem;
}

.dropdown-menu a:hover {
    color: var(--accent-color);
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(-10p);
    }
    to {
        opacity: 1;
        transform: translateY(0p);    
    }
}

.menu-toggle {
    display: none;
}

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    z-index: 1000;
    cursor: pointer;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    transition: 0.4s;
}


.menu-toggle:checked ~ .burger-menu {
    display: flex;
    top: 12%;


            @media (min-width: 810px) {
            top: 10%
    }
}

.menu-btn {
    display: flex;

            @media (min-width: 1149px) {
            display: none;
    }
}

.menu-toggle:checked + .menu-btn
span:nth-child(1) {
    transform: rotate(45deg)
    translateY(7px);
}

.menu-toggle:checked + .menu-btn
span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-btn
span:nth-child(3) {
    transform: rotate(-45deg)
    translateY(-7px);
}


h1 {
    text-align: center;
    font-size: var(--font-size-heading-m);    
    margin-bottom: 30px;
    width: 400px;

    @media (min-width: 810px) {
        font-size: var(--font-size-heading-l);
    }

}


.banner {
  position: relative;
  width: 100%;;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(40%); 

      @media (min-width: 810px) {
        font-size: 45px;
        height: auto;
        max-height: 430px;
        object-fit: cover;
    }
}


.overlay {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.button-wat-is-een-ad {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    padding-top: 8px; 
    padding-right: 30px; 
    padding-bottom: 8px; 
    padding-left: 30px;    

          @media (min-width: 810px) {
            padding-top: 10px; 
            padding-right: 40px; 
            padding-bottom: 10px; 
            padding-left: 40px;  
    }
}


.button-wat-is-een-ad:hover {
    background-color: var(--primary-lighter-color);
    color: var(--primary-color);
}

p {
    margin: 25px 50px 25px 50px; /*top left bottom right*/

          @media (min-width: 810px) {
             margin: 35px 110px 35px 110px;
    }

          @media (min-width: 950px) {
             margin: 40px 180px 40px 180px;
    }

          @media (min-width: 1100px) {
             margin: 40px 230px 40px 230px;
             font-size: 18px;
    }

            @media (min-width: 1350px) {
             margin: 40px 260px 40px 260px;
             font-size: 17px;
    }

            @media (min-width: 1500px) {
             /* margin: 40px 300px 40px 500px; */
             margin-left: 360px;
             margin-right: 500px;
             font-size: 17px;
    }
}
 
#vier-knoppen a { 
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px 10px 10px 10px; /*top left bottom right*/

              @media (min-width: 810px) {
                 border-radius: var(--border-radius);
                 padding: 10px 45px 10px 45px;
                 margin-left: 0px;
                 margin-right: 0px;
    }

 
}

#vier-knoppen {
          @media (min-width: 810px) {
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr 1fr;
           margin-top: 45px;
           margin-left: 40px;
           margin-right: 40px;
           gap: 15px;
    }

                 @media (min-width: 1500px) {
                 margin-top: 0px;
                 margin-left: 355px;
                 margin-right: 355px;
                 font-size: var(--font-size-s);
                 gap: 15px 35px; 
    }
}


.button-orienteren-op-een-ad-opleiding {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.button-orienteren-op-een-ad-opleiding:hover {
      background-color: var(--primary-lighter-color);
      color: var(--primary-color);
}

.button-studeren-in-een-ad-opleiding {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.button-studeren-in-een-ad-opleiding:hover {
    background-color: var(--primary-lighter-color);
    color: var(--primary-color);

}

.button-werken-met-ad-talent {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;


          @media (min-width: 810px) {
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr 1fr;
           grid-column: 2/2;  
        }
}

.button-werken-met-ad-talent:hover {
      background-color: var(--primary-lighter-color);
      color: var(--primary-color);
}

.button-ontwikkelen-van-ad-onderwijs {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;

          @media (min-width: 810px) {
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr 1fr;
           grid-column: 2/2;
           grid-row: 1/2;
    }
}

.button-ontwikkelen-van-ad-onderwijs:hover {
    background-color:var(--primary-lighter-color);
    color: var(--primary-color);
}


